#FinBack {
    top: 12vh;
  }
  
  #TaskBudgetInputs {
    margin-top: 5vh;
    margin-left: 5vw;
    border: 1px solid black;
    max-width: fit-content;
    padding: 2%;
    border-radius: 10px;
  }
  
  #TaskBudgetTransName {
    display: block;
  }
  
  #TaskBudgetTransAmount {
    display: block;
  }
  
  #TaskBudgetTransNLabel {
    max-height: fit-content;
    margin-top: 10px;
  }
  
  #TaskBudgetTransALabel {
    max-height: fit-content;
    margin-top: 10px;
  }
  
  #TaskBudgetRadioButtons {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: small;
  }
  
  #TaskBudgetAddBox {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
  }
  
  #TaskBudgetAddButton {
    border-radius: 7px;
    background-color: blue;
    color: bisque;
    font-weight: bolder;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer;
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransContainer {
    border: 1px solid black;
    padding: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransName {
    width: 30%;
    width: clamp(29%, 30%, 30%);
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransIncAmount {
    color: blue;
    font-weight: bolder;
    width: 25%;
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransExpAmount {
    color: red;
    width: 25%;
    font-weight: bolder;
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransInc {
    color: rgb(40, 182, 40);
    font-weight: bolder;
    width: 15%;
    overflow: hidden;
  }
  
  #TaskBudgetTransactionsList .taskBudgetTransExp {
    color: red;
    font-weight: bolder;
    width: 15%;
  }
  
  @media screen and (max-width: 768px) {
    #TaskBudgetTransactionsList .taskBudgetTransName {
      font-weight: bold;
      font-size: 0.7rem;
    }
  
    #TaskBudgetTransactionsList .taskBudgetTransIncAmount {
      width: 15%;
      font-size: 0.7rem;
    }
  
    #TaskBudgetTransactionsList .taskBudgetTransExpAmount {
      font-size: 0.7rem;
      width: 15%;
    }
  
    #TaskBudgetTransactionsList .taskBudgetTransInc {
      font-size: 0.7rem;
    }
  
    #TaskBudgetTransactionsList .taskBudgetTransExp {
      font-size: 0.7rem;
    }
  
    #TaskBudgetTransactionsList .taskBudgetTransDelete {
      width: 10%;
    }
  }
  
  #TaskBudgetTransTotal {
    background-color: rgb(206, 118, 118);
    text-align: center;
  }
  